<div class="col-sm-12" style="padding-top:20px; padding-bottom:20px">
    <uib-carousel interval="100000" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="dataPoint in dataPoints" >
        <div ng-switch on="dataPoint.enabled" class="carousel-caption" style="color: black; position:initial; padding:0px">
        <h2 ng-switch-when="true" >{{dataPoint.name}}
          <span  class="label label-success">enabled</span>
          <span id="currentValue">{{currentValue.renderedValue}}</span>
        </h2>
        <h2 ng-switch-when="false">{{dataPoint.name}}
          <span class="label label-danger"> disabled</span>
        </h2>
        </div>
        <hr>
        <div style="width: 50%; margin:auto; text-align: left">
         <mango-datapoint-view></mango-datapoint-view>
        </div>
        <hr>
        <a href="/app/#/datapoints/{{dataPoint.xid}}/chart"><h5 style="color:black">Chart This Point</h5></a>
      </uib-slide>
    </uib-carousel>
</div>