  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <!--Sidebar content-->
        <hr>
        Search: <input ng-model="query">
        <hr>
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Name</option>
          <option value="xid">XID</option>
        </select>
		<hr>
        <mango-datapoint-quickview></mango-datapoint-quickview>
        <mango-gauge datapoint-id="12"></mango-gauge>
        <input ng-model="rqlquery">
        <mango-datapoint-table rql="rqlquery"></mango-datapoint-table>
        <mango-serial-chart config="/configs/red-serial.json"/>
        <hr>
        <!-- Nav Section -->
        <a href="/app/#/logs">Logs</a>
      </div>
      <div class="col-sm-8" style="padding-bottom: 20px">
        <!--Body content-->
		<h2>Data Points List</h2>
        <div ng-repeat="dataPoint in dataPoints | filter:query | orderBy:orderProp" ng-mouseover="setQuickView(dataPoint)" ng-mouseleave="clearQuickView()" ng-switch on="dataPoint.enabled" class="dataPoint-listing">
          <div ng-switch-when="true" style="width:75%; padding:5px; margin-top: 8px; background-color: #1BCC1B; border-radius: 20px; box-shadow: 5px 5px 5px grey; text-align:center"><a href="#/datapoints/{{dataPoint.xid}}" style="color:white">{{dataPoint.xid}} - {{dataPoint.name}}</a></div>
          <div ng-switch-when="false" style="width:75%; padding:5px; margin-top: 8px; background-color: red; border-radius: 20px; box-shadow: 5px 5px 5px grey; text-align:center"><a href="#/datapoints/{{dataPoint.xid}}" style="color:white">{{dataPoint.xid}} - {{dataPoint.name}}</a></div>
        </div>
      </div>
    </div>
  </div>