<section>
 <div class="btn-group" style="float:left; padding-left: 15px; padding-top:20px;" uib-dropdown uib-keyboard-nav>
  <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" style="width:150px" uib-dropdown-toggle>
   Menu<span class="caret"></span>
  </button>
  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
    <li role="menuitem"><a href="/app/#/datapoints">Data Points List</a></li>
    <li role="menuitem"><a href="/app/#/datapoints_carousel">Data Point Carousel</a></li>
	<li role="menuitem"><a href="/app/#/logs">Logs</a></li>
	<li class="divider"></li>
	<li role="menuitem"><a href="#">Exit</a></li>
  </ul>
 </div>
 <img src="img/logo.png" style="float:right"/>
 <div style="clear:both"></div>
 <hr>
</section>