  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">

        <!--Sidebar content-->
        <div class="mango-label">Search</div><br>
        <input class="form-control mango-value" style="width: 200px;" ng-model="query">
        <div style="clear:both"></div>
		<hr>
        <div style="clear:both"></div>
      </div>
      <div class="col-sm-8">
        <div ng-repeat="logfile in logfiles | filter:query | orderBy:orderProp">
          <div style="width:75%; padding:5px; margin-top: 8px; background-color: #F07800; border-radius: 20px; box-shadow: 5px 5px 5px grey; text-align:center"><a style="color: white"href="/app/#/logs/{{logfile}}">{{logfile}}</a></div>
        </div>
      </div>
    </div>
  </div>